@using StripePortfolio.Areas.GrandArchive.Models.ViewModels
@model List<IndexViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="meong">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Elements
            </th>
            <th>
                Cardtype
            </th>
            <th>
                Subtype
            </th>
            <th>
                Set
            </th>
            <th>
                Rarity
            </th>
            <th>
               ImageUrl
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @string.Join(", " ,@item.Elements)
            </td>
            <td>
                    @string.Join(", ", @item.CardTypes)

            </td>
            <td>
                    @string.Join(", ", @item.Subtypes)

            </td>
            <td>
                    @string.Join(", ", @item.Sets)

            </td>
            <td>
                    @string.Join(", ", @item.Rarity)

            </td>
            <td>
                    <img src="@item.ImageUrl" width="150" height="150"/>
                @* @Html.DisplayFor(modelItem => item.ImageUrl) *@
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{

<script>
    let table = new DataTable('#meong');
</script>
 }